@media (max-width: 900px) {
      .blogs-posts-container .post-container {
            max-width: 100%;
      }
      nav {
            display: grid;
            grid-template-columns: 1fr;
            height: auto;      
            /* background-color: #013253;
            margin-bottom: 12px;
            box-shadow: 0px 12px 0px #921c1a; */
      }
      nav .nav-logo-container {
            margin-left: 0px;
      }
      nav .nav-logo-container img {
            width: 95%;    
            margin-top: 5px;
      }
      
      nav .profile-link {
            display: grid;
            align-items: center;
            justify-content: center;
            margin-right: 0px;
            font-size: 36px;
            margin-bottom: 20px;
      }
      nav .profile-link a {
            color: white;
            /* border-bottom: 2px solid black; */
            padding-right: 0px;
            padding: 12px;
      }
      .blogs-news-img-container img {
            width: 100%;
      }
      
      iframe {
            width: 100%;
            height: 360px;
      }
}
@media (max-width: 700px) { 
      footer p {
            margin-top: 15px;
            padding: 0 5px;
      }      
}

@media (max-width: 600px) {
      .home-body {
            position: absolute;
      }
      .home-main {
            grid-template-columns: 1fr;
      }
      .home-main section {
            margin-top: 280px;
      }
      .home-main-text {
            letter-spacing: 5px;
      }

      .blogs-posts-container .post-container img {
            width: 100%;
      }

      .blog-posts-grid {
            display: grid;
            grid-template-columns: 1fr;
      }
      .blogs-news-container {
            padding: 15px 15px;
      }

      
}

